<div class="card mb-3">
    <div class="row">
        <div class="col-md-3">
            <img src="/static/images/<%= image %>" class="img-fluid" alt="">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">
                   <a style="text-decoration: none;" href="/products/<%= productid %>"> <%= productname %> </a>
                </h5>
                <p class="card-text"><%= description %></p>
                <!-- Price box -->
                <div class="price-box mt-3">
                    <span class="badge bg-success fs-6">Price: <%= price %> €</span>
                </div>
            </div>
        </div>
    </div>
</div>