<!--cart.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/nav') %>
    <div class="container mt-5">
        <h1>Your Shopping Cart</h1>

        <% if (cartItems.length === 0) { %>
          <p>Your cart is empty!</p>
        <% } else { %>
          <ul>
            <% cartItems.forEach(item => { %>
              <li><%= item.productname %> - <%= item.quantity %> x <%= item.price %> €</li>
            <% }) %>
          </ul>
          <a href="/checkout" class="btn btn-primary">Proceed to Checkout</a>
        <% } %>
    </div>
</body>
</html>
