<!--products.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
   
    <%- include('../partials/nav') %>

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-3">
                <%- include('../partials/menu-menu', { menus, selectedMenu }) %>
            </div>
            <div class="col-md-9">
                <h1 class="h3 mb-3">
                    <%= title %>
                </h1>

                <% if (products.length == 0) { %>
                    <%- include('../partials/no-products') %>
                <% } %>

                <% products.forEach(product => { %>
                    <!-- Corrected line: Pass product as an object -->
                    <%- include('../partials/product-card', { product: product }) %>
                <% }) %>

                <!-- Pagination (optional, only if needed) -->
                <% if (products.filter(b => b.approval).length > 3) { %>
                    <%- include('../partials/paginations') %>
                <% } %>

            </div>
        </div>
    </div>

    <!-- footer -->
    <%- include('../partials/footer') %>
</body>
</html>