<!--product-details.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
   
    <%- include('../partials/nav') %>

    <div class="container mt-3">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <img src="/static/images/<%= product.image %>" class="img-fluid" alt="">
        
                    </div>
                    <div class="col-md-8">
        
                        <h1 class="h3 mb-3">
                            <%= product.productname %>
                        </h1>
                        <p><%= product.description %></p>

                         <!-- Price Box -->
                         <div class="price-box mt-3">
                            <span class="badge bg-success fs-5">Price: <%= product.price %> €</span>
                        </div>

                        <!-- Add to Cart Button -->
                        <%- include('../partials/product-card', { ...product, isSingleProduct: true }) %>
        
                    </div>
                </div>

            </div>
        </div>
        
        
    </div>
    <body>
        <!-- footer -->
        <%- include('../partials/footer') %>
    </body>

</body>
</html>